<div class="container">
    <div class="row">
        <span *ngFor="let list of images">
            <span class="card" style="width: 18rem;">
                <img [src]="list" class="card-img-top" alt="...">
                <span class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Explore the world of nature</p>
                    <a href="#" class="btn btn-primary">Explore</a>
                </span>
            </span>
        </span>
    </div>
</div>